button{
    font-size: 80px;
    width: fit-content;
    height: 100px;
    background-color: aquamarine;
}
button:hover{
    background-color: black;
    transition-duration: 0.25s;
    color: white;
}